/* Header starts here */
.Container{
    max-width: 1440px;
    margin-inline: 0, auto;
    
} 
header{
    width: 100%;
    padding: 57px 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_header{
    color: #27187F;
    font-weight: 500;
    font-size: 40px;
}
.Head_li{
    color: #758BFD;
    font-weight: 500;
    font-size: 24px;
}
.Active{
    color: #27187F
}
ul{
    display: flex;
    column-gap: 50px;
}
.fa-magnifying-glass{
    color: #758BFD;
    font-size: 35px;
}
.search_bar{
    border: 2px solid #27187F;
    width: 180px;
    display: flex;
    justify-content: end;
    border-radius: 10px;
    padding: 7px;
}
/* Header ends here */
/* Section starts here */
section{
    width: 100%;
    padding: 94px 98px;
    display: flex;
    background-color: #DDEAF8;
    flex-direction: column;
    row-gap: 68px;
}
.section_header{
    color: #27187F;
    font-size: 32px;
    font-weight: 700;
    display: flex;
}
.Section_container{
    display: flex;
    flex-wrap: wrap;
    gap: 22px 51px;
    align-content: space-between;
}
.Insider{
    width: 30%;
    padding: 33px 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 33px;
}
.image_1{
    width: 100%;
}
.txt1{
    font-size: 20px;
    font-weight: 400;
    color: #133B3A;
}